<nav class="navbar navbar-toggleable-md bg-faded fixed-top">
  <div>
    <a class="navbar-brand ml-3" href="/"><span class="fa fa-font"></span>ceIt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="fa fa-bars fa-2x"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse ml-auto" id="navbarNav">
    <ul class="navbar-nav ml-auto" id="settings">
      <li class="nav-item">
        <a class="nav-link" href="/register"><span class="fa fa-user-circle mr-sm-3"></span>Register</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login"><span class="fa fa-telegram mr-sm-3"></span>Login</a>
      </li>
    </ul>
  </div>
</nav>
