<nav class="navbar navbar-toggleable-lg bg-faded fixed-top">
  <div>
    <a class="navbar-brand ml-3" href="/"><span class="fa fa-font"></span>ceIt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="fa fa-bars fa-2x"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/question-banks">Question Banks</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
      </li>
      <form class="nav-item form-inline" id="search">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search-input">
        <button class="btn btn-1" type="submit">Search</button>
      </form>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-4" href="/practice">Start a Mock Interview!</a>
      </li>
    </ul>

    <ul class="navbar-nav" id="settings">
      <li class="nav-item">
        <a class="nav-link" href="/my-account"><span class="fa fa-address-card-o mr-sm-3"></span>My Account</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout"><span class="fa fa-sign-out mr-sm-3"></span>Logout</span></a>
      </li>
    </ul>
  </div>
</nav>
